@charset "UTF-8";

body {
  color: white;
  text-align: center;
  background-image: linear-gradient(90deg, rgb(177, 173, 162), rgb(232, 156, 156));
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  background-color: rgb(167, 152, 152);
  color: white;
  text-align: center;
  padding: 20px;
}

img {
  padding: 0;
  align-items: right;
  display: inline;
}

#imagem {
    width: 270px;
}

#imagem2{
    width: 277px;
}

#imagem3{
    width: 290px;
}

#imagem4{
    width: 283px;
}

#imagem5{
    width: 292px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

.final{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.mais {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: rgb(184, 162, 162);
}

.mais a:hover {
  background-color: gray;
}

.mais a {
  display: block;
  text-align: center;
  background-color: rgb(49, 42, 42);
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a{
  text-decoration: none;
}

.titulo{
  text-shadow: #e6c0c0 2px 3px 2px;
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
  text-shadow: red 3px 1px 5px;
  text-align: justify;
  padding: 10px;
  color: black;
}

li{
  text-shadow: red 3px 1px 5px;
  list-style: none;
}

.par{
  color: blue;
  font-size: 20pt;
  font-family: Verdana;
  text-align: justify;
  text-shadow: white 3px 1px 5px;
}

.impar{
  color:  red;
  font-size: 16pt;
  font-family: Arial;
  text-shadow: white 3px 1px 5px;
}

.sinopse{
  background-color: #000000;
  margin: 15px;
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 270px;
  padding: 20px;
  color: white;
  border-radius: 50px;
}